<div class="row">
  <div class="span10 offset1">

<h3>ヘルプ</h3>
<dl>
  <dt>1.ユーザー</dt>
  <dd>
    <ul>
      <li>登録</li>
        <ul>
          <li>TwitterのOAuth認証を利用してユーザー登録を行っています。Twitterとxxxの連携を認証することでユーザー登録できます。</li>
        </ul>
      <li>退会</li>
        <ul>
          <li>ユーザーメニューから退会を選ぶことでユーザーを削除できます。</li>
          <li>退会と同時に登録されたメモも削除します。削除したデータは復元できません。</li>
        </ul>
      <li>ログイン</li>
        <ul>
          <li>Twitterとxxxの連携を認証することでログインできます。</li>
        </ul>
      <li>ログアウト</li>
        <ul>
          <li>一定期間が経つとで自動でログアウトします。再度ログインしてください。</li>
          <li>手動でログアウトする場合は、ユーザーメニューからログアウトを選んでください。</li>
        </ul>
    </ul>
  </dd>


</dl>


  </div>
</div>